@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
  text-align: center;
  font-family: 'Pacifico';
  color: #c9c2c7;
}

h1, .h1 {
  font-size: 70px;
  text-shadow: -2px 2px 17px #55dbbe;
  color: aliceblue;
  margin-bottom: 30px;
}

h2 {
  font-size: 2em;
  margin: 52px 0 40px;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.search-form {
  max-width: 460px;
  display: flex;
  margin: 0 auto 32px;
}

.search-form button {
  outline: none;
  background-color: #99dbd6;
  border: none;
  padding: 0px 15px;
  border-radius: 0 0.35em 0.35em 0;
  cursor: pointer;
}

input {
  font-size: 2em;
  width: 100%;
  background-color: #edeff0;
  padding: 2px 15px;
  border: 3px solid #d7dbdf;
  border-right: none;
  border-radius: 0.35em 0 0 0.35em;
  outline: none;
  color: rgb(97, 96, 96);
}

.main-nav li {
  width: 100%;
  margin-bottom: 1em;
}

.main-nav a {
  text-decoration: none;
  display: block;
  background: #99dbd6;
  border-radius: 3px;
  padding: 10px;
  color: #fff;
}

.main-nav .active,

.main-nav a:hover{ cursor: wait; }
.search-form button:hover {
  background-color: #55dbbe;
}

.photo-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.photo-container ul li {
  width: 220px;
  height: 165px;
  overflow: hidden;
  margin-bottom: 15px;
}

.photo-container ul img {
  width: 100%;
  transform: scale(1.25);
  transition: transform 1.25s;
}

.photo-container li:hover img {
  transform: scale(1.65);
}

.photo-container .not-found {
  width: 100%;
}

@media only screen and (max-width: 767px)  {
  body {
    padding-top: 2em;
  }

  .photo-container li {
    margin: auto;
  }
}

@media only screen and (min-width: 768px)  {
  body {
    padding-top: 1em;
  }

  .container {
    max-width: 960px;
    margin: auto;
  }

  .main-nav ul {
    display: flex;
    justify-content: center;
  }
  
  .main-nav li {
    margin: 10px;
    width: 100px;
  }
}


/* Reset */
a {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
}

/* Custom */
a {
  display: inline-block;
  position: relative;
  padding: 20px 38px;
  top: 0;
  font-size: 16px;
  font-family: 'Pacifico';
  border-radius: 4px;
  border-bottom: 1px solid rgba( 28, 227, 125, 0.5 );
  background: rgba( 22, 230, 137, 1 );
  color: #fff;
  box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
  
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);
  
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

a:hover {
  top: -10px;
  box-shadow: 0px 10px 10px rgba(165, 15, 145, 0.2);
  
  -webkit-transform: rotateX(20deg);
     -moz-transform: rotateX(20deg);
      -ms-transform: rotateX(20deg);
          transform: rotateX(20deg);
}

/* Start http://www.cursors-4u.com */ * {cursor: url(http://cur.cursors-4u.net/toons/too-9/too910.ani), url(http://cur.cursors-4u.net/toons/too-9/too910.png), auto !important;} /* End http://www.cursors-4u.com */